<h3>I am the header</h3>
<ol>  
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/account-master">Account Master</a></li>
  <li><a routerLink="/mfe1">Arborio</a></li>
  <li><a routerLink="/mfe1/recipes">Arborio recipes</a></li>
  <li><a routerLink="/mfe2">Carnaroli</a></li>
  <li><a routerLink="/mfe2/overview">Carnaroli overview</a></li>
  <li><a routerLink="/mfe2/create">Carnaroli create</a></li>
</ol>

<p>
  I am counter, from kwoo-test-lib shared service:   {{ counter$ | async }}
</p>